body {
    background: url("https://a.ltrbxd.com/resized/sm/upload/ku/hh/uw/j0/anchorman-2-1200-1200-675-675-crop-000000.jpg?k=c567c81895") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: rgba(231, 234, 237);
}

a {
    color: rgb(131, 46, 54);
}

h1 {
    text-align: center;
}

.questions {
    width: 200px;
    height: 40px;
}

.form-control {
    background-color : rgba(231, 234, 237, 0.75);
}

.box {
    background: rgb(131, 46, 54, .75);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#main {
    height: 100%; 
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 250px;
    padding: 50px;
    background: rgba(231, 234, 237, 0.75);
    color: rgb(131, 46, 54);
}

#start-button, #modal-button {
    background: #832E36;
}

#submit-button {
    background: rgba(231, 234, 237);
    color: black;
}

/* MODAL */
#modal {
    font-family: 'Courier New', Courier, monospace;
}

.modal-header, .modal-footer {
    background: rgba(231, 234, 237, 0.75);
}

#modal-title {
    color: #832E36;
}

#modal-body {
    background: #832E36;
}

#modal-photo {
    max-height: 500px;
}

#footer {
    position: absolute;
	width: 100%;
    text-align: center;
    padding: 20px;
    background: rgba(231, 234, 237, 0.6);
}